/* 
Theme Name:		 Twenty Seventeen Child
Theme URI:		 http://www.websitebundles.com/
Description:	 Theme by Site <a href=\"http://childthemegenerator.com/\">http://childthemegenerator.com/</a>
Author:			 WebsiteBundles
Author URI:		 http://childthemegenerator.com/
Template:		 twentyseventeen
Version:		 1.0.0
Text Domain:	 Twenty-Seventeen-child
-------------------------------------------------------------- */ 

/* =Theme customization starts here
------------------------------------------------------- */
body{
    background-color: #e8e8e8;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

#main-slider .vertical-container h1{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Harabara';
    letter-spacing: 3px;
}

#main-slider .vertical-container:hover, #main-slider .vertical-container:active, #main-slider .vertical-container:focus{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
}

#main-slider .vertical-container{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

#main-slider a,.home .header-navbar .menu-button .menu-content ul li a{
    color: #fff;
}

.header-navbar .menu-button .menu-content ul li a, .about_us{
    color: #000;
}

.home .header-navbar{
    background-color: transparent;
}

.header-navbar{
    background-color: #fff;
}

#main-slider .vertical-container button{
    background-color: transparent;
    color: #fff;
}

.margin-zero{
    margin: 0;
}

.padding-zero{
    padding: 0;
}

.menu-button{
    text-align: right;
    padding-top: 15px;
}

.menu-button i{
    color: red;
    cursor: pointer;
}

.menu-button .menu-content{
    display: none;
}

.home .header-navbar{
    position: absolute;
    z-index: 9999;
}

.header-navbar .menu-button .menu-content ul li{
    list-style: none;
    margin-bottom: 0;
    float: right;
    padding-left: 20px;
}

.home .header-navbar .menu-button .menu-content ul li{
    float: none;
    padding-left: 0;
}

.single{
    color: #000;
}
/*
.style_prevu_kit
{
display:inline-block;
vertical-align: middle;
border:0;
width:196px;
height:210px;
position: relative;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1); 
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1); 
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1);
transition: all 200ms ease-in;
transform: scale(1);   

}
.style_prevu_kit:hover
{
box-shadow: 0px 0px 150px #000000;
z-index: 2;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.5);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.5);   
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.5);
transition: all 200ms ease-in;
transform: scale(1.5);
}
.second-container{
    background-image: url('images/second.png');
    height: 550px;
    background-size: cover;
}


.second-container button.btn.btn-default.btn-lg.write_story:hover, .second-container button.btn.btn-default.btn-lg.write_story:focus, .second-container button.btn.btn-default.btn-lg.write_story:active {
    color: #fff;
    cursor: pointer;
    border: 0;
}

.second-container .style_prevu_kit_second{
    background-color: #fda400;
    margin: 0 auto;
    text-align: center;
    height: 400px;
    margin-top: 80px;
    width: 370px;
    padding: 80px 50px;
}

.second-container .style_prevu_kit_second h5{
    color: #000;
    font-family: 'Harabara';
    font-size: 35px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.second-container .style_prevu_kit_second p{
    font-family: cursive;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 0;
}

.second-container .write_story{
    border: 1px solid black;
    color: black;
    margin-top: 25px;
    letter-spacing: 3px;
    border-radius: 0; 
    height: 50px;
}
*/
.third-container{
    background: white;
    color: #504d4d;
    font-family: 'Harabara';
    text-align: center;
    border-top: 1px solid #f3f3f3;
}

.third-container .title-heading{
    margin-top: 60px;
    margin-bottom: 20px;
}

.third-container .title-heading h2{
    line-height: 1;
    letter-spacing: 3px;
}

.article-container{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}


.article-content {
  position: relative;
  width: 50%;
}

.article-content a{
    font-family: 'Harabara';
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #fff;
    text-decoration: none;
}

.article-content a:hover{
    text-decoration: none;
    color: #fff;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.article-content:hover .overlay {
  width: 96%;
  height: 450px;
}

.text {
    white-space: normal;
    color: white;
    position: absolute;
    word-break: normal;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}

.line-symbol{
    border: 1px solid #fff;
    margin: 15px;
}

.social-icons span{
    padding-right: 15px;
}

.tp_categories{
    letter-spacing: 3px;
    font-size: 14px;
}

.social-icons span a:hover{
    color: #ff7171;
    cursor: pointer;
}

.third-container .write_story{
    width: 250px;
    height: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    border: 1px solid #000;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Harabara';
}

.third-container .write_story:hover, .third-container .write_story:active, .third-container .write_story:focus{
    color: #fff;
    border: 0;
    outline: none;
}

.upcoming_events_container h2{
    font-family: 'Harabara';
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
    letter-spacing: 2px;
}

.upcoming_events_container{
    background-color: #F26653;
    color: #fff;
}

.upcoming_events_container .container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.advertisement_container{
    height: 470px;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
}

.advertisement_container .advertisement_content{
    width: 100%;
    height: 250px;
    background: #e8e8e8;
    margin-bottom: 50px;
}

.advertisement_container .add_contact{
    height: 50px;
    color: black;
    border: 1px solid #111;
    border-radius: 0;
    margin: 0 auto;
    font-weight: bold;
}

.subscribe_container{
    background-color: #fda400;
    padding-top: 5%;
    height: 185px;
}

.subscribe_container input{
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    height: 60px;
    color: #111;
}

.subscribe_container .subscribe_button{
    width: 150px;
    height: 60px;
    color: white;
    border: 1px solid #111;
    border-radius: 0;
    background-color: #111;
}

.subscribe_container .write_story{
    height: 60px;
    color: black;
    border: 1px solid #111;
    border-radius: 0;
    width: 200px;
}

.footer{
    background-color: #fff;
    border-top: 1px solid #F26653;
}

.footer .logo, .footer .social-icons, .footer-menu .menu{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-menu .menu ul li{
    float: left;
}

.footer-menu .menu ul li a, .copy-right{
    color: #8A8B85;
}

.copy-right span{
    margin: 0 auto;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sfsi_footerLnk{
    display: none !important;
}

.custom_read_time{
    letter-spacing: 2px;
}

.custom_read_time .read_time{
    color: #F26653;
}

.event-left-container{
    font-size: 16px;
    letter-spacing: 1px;
}

.event_day_location{
    border: 1px solid;
    padding: 10px;
    height: 120px;
}

.event-right-container h5{
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-right-container a{
    color: #fff;
    text-decoration: none;
}

.event-right-container .postContent{
    font-size: 16px;
    height: 75px;
    overflow: hidden;
}

.event-left-content{
    float: right;
}

.about_us{
    background-color: #fff;
}

.page_title{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Harabara';
    letter-spacing: 3px;
    margin-top: 30px;
    color: #504d4d;
}

.about_feature_image{
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-template-about .header-navbar{
    border-bottom: 1px solid #fda400;
}

.about_us .about_feature_image img{
    width: 100%;    
}

.about_us .about_content{
    margin-bottom: 50px;
    letter-spacing: 1px;
}
/*.fa-twitter, .fa-linkedin-square{
    color: #fdb813;
}

.fa-facebook, .fa-google-plus{
    color: #F26653;
}*/
