@charset "UTF-8";
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* IMPORTANT!
* There is a new grid system - not that from getskeleton.com.
* In settings.scss under "Grid Settings" you can set:
* - number of columns
* - width of columns
* - gutter
* - breakpoint( window width on which grid will break onto 100%-width columns )
*
* There are also changes in grid classes:
* '.col-1' - NOT: '.one.columns'
* '.col-6' - NOT: '.six.columns'
* etc.


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Base Settings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Buttons */
/* Primary Buttons */
/* Input */
/* Links */
/* Media Queries Settings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Grid Setting */
@media (min-width: 750px) {

/*.col-1 { width: 6.42361%; }

.col-2 { width: 14.93056%; }

.col-3 { width: 23.4375%; }

.col-4 { width: 31.94444%; }

.col-5 { width: 40.45139%; }

.col-6 { width: 48.95833%; }

.col-7 { width: 57.46528%; }

.col-8 { width: 65.97222%; }

.col-9 { width: 74.47917%; }

.col-10 { width: 82.98611%; }

.col-11 { width: 91.49306%; }*/

/*.offset-by-1[class*="col-"] { margin-left: 10.59028%; }

.offset-by-2[class*="col-"] { margin-left: 19.09722%; }

.offset-by-3[class*="col-"] { margin-left: 27.60417%; }

.offset-by-4[class*="col-"] { margin-left: 36.11111%; }

.offset-by-5[class*="col-"] { margin-left: 44.61806%; }

.offset-by-6[class*="col-"] { margin-left: 53.125%; }

.offset-by-7[class*="col-"] { margin-left: 61.63194%; }

.offset-by-8[class*="col-"] { margin-left: 70.13889%; }

.offset-by-9[class*="col-"] { margin-left: 78.64583%; }

.offset-by-10[class*="col-"] { margin-left: 87.15278%; }

.offset-by-11[class*="col-"] { margin-left: 95.65972%; }*/

/*.col-12 { width: 100%; }*/
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html { font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
 letter-spacing: -.08rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
 letter-spacing: -.08rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
 letter-spacing: -.08rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
 letter-spacing: -.05rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
 letter-spacing: -.03rem;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {

h1 { font-size: 7.2rem; }

h2 { font-size: 4.2rem; }

h3 { font-size: 3.6rem; }

h4 { font-size: 3.0rem; }

h5 { font-size: 2.4rem; }

h6 { font-size: 1.8rem; }
}

p { margin-top: 0; }

/* Base Font Styles */
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* { box-sizing: border-box; }
/* [class*="col-"] {
 float: left;
 margin-left: 2.08333%;
 box-sizing: border-box;
}*/
 @media (max-width: 749px) {
/* [class*="col-"] {
 width: 100%;
 margin-left: 0;
}*/
}

/*[class*="col-"]:first-child { margin-left: 0; }*/

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  float: left;
}

/* For devices larger than 400px */
@media (min-width: 400px) {

.container {
  width: 95%;
  padding: 0;
}
}
/* For devices larger than 550px */
@media (min-width: 550px) {

.container { width: 80%; }
}
@media (min-width: 750px) and (max-width: 1199px) {

.container { width: 90%; }
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #f6880f;
  outline: 0;
}

label, legend {
  display: block;
 margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #f6880f;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #f6880f;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  -ms-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  box-sizing: border-box;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  /*color: #fff;*/
  text-decoration: none;
  background-color: transparent;
  font-size: 14px;
  border-color: #f6880f;
  outline: 0;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  /*color: #fff;*/
  background-color: #f6880f;
  border-color: #f6880f;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  /*color: #fff;*/
  background-color: #f79b36;
  border-color: #f79b36;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul { list-style: circle inside; }

ol { list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li { margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
 padding: .2rem .5rem;
 margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th, td {
  padding: 8px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child, td:first-child { padding-left: 0; }

th:last-child, td:last-child { padding-right: 0; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right { float: right; }

.u-pull-left { float: left; }

.u-vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.u-text-center { text-align: center; }

.main-clr { color: #f6880f; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}

.order {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.slider-wrapper {
  height: 100%;
  text-align: left;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  transform: translate3d(0, 0px, 0px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider-wrapper-outer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-item { float: left; }

.arrow {
  /*top: 0;*/
  bottom: 0;
  width: 50px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
  background-position: 50% 50%;
  background-size: 70px auto;
  background-color: rgba(170, 170, 170, 0.5);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-left {
  left: 0px;
  background-image: url("../arrows/arrow-left.svg");
  cursor: pointer;
}

.arrow-right {
  right: 0px;
  background-image: url("../arrows/arrow-right.svg");
  cursor: pointer;
}

.arrow.disabled {
  opacity: 0;
  pointer-events: none;
}

.arrow:hover {
  border-color: white;
  background-color: rgba(140, 140, 140, 0.7);
}

#main-slider {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

#main-slider .container {
  /*height: 100%;*/
  margin: 15% auto;
  display: inline-block;
}

#main-slider header {
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px rgba(100, 100, 100, 0.35);
}

#main-slider .slide {
  height: 100%;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
}

/*#main-slider .slide-1 { background-image: url("https://unsplash.it/1920/1200?image=817"); }

#main-slider .slide-2 { background-image: url("https://unsplash.it/1920/1200?image=617"); }

#main-slider .slide-3 { background-image: url("https://unsplash.it/1920/1200?image=317"); }

#main-slider .slide-4 { background-image: url("https://unsplash.it/1920/1200?image=417"); }*/

.vertical-hook {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.vertical-container {
  width: 100%;
  margin-left: -4px;
  display: inline-block;
  vertical-align: middle;
}
